.form-control-borderless {
     border: none;
    width: 400px; 
}
.form-control-borderless:hover, .form-control-borderless:active, .form-control-borderless:focus {
    border: none;
    outline: none;
    box-shadow: none;
} 
.card-body{
    width: 550px;
    height: 65px
}
.card{
    width: 500px;
    height: 70px;
}
.buscador{
    padding-top: 20px;
    padding-left: 30px;
   
}
.navbar{
    height: 90px;   
}
.dropdown{
   padding-right: 25px;
}
.img2{
        aspect-ratio: 3/2;
        justify-content: center;
        padding-left:20px;
}
.bottonmodal{
    background-color: black;
    width: 200px;
    display: flex;
}
.boton2{
    width: 200px;
}

.contenedor-principal{
    width:1400px;
    height:600px ;
   
    display: flex;
    justify-content: start;
    align-items: center;
    padding-left: 70px;
    
}
.banderita{
    width: 400px;
    height: 400px;
    
}

.caja1{
   
    width: 300px;
    height: 400px;
    margin: auto;
    align-items: center;
}



